<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="siparistakip.Properties.Settings.denemeConnectionString"
            connectionString="Data Source=DESKTOP-GQ0R89C\SQLEXPRESS;Initial Catalog=deneme;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="siparistakip.Properties.Settings.ElbiseSiparisConnectionString"
            connectionString="Data Source=DESKTOP-GQ0R89C\SQLEXPRESS;Initial Catalog=ElbiseSiparis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>